{% extends 'base.html' %}
{% load static %}

{% block title %}Projects{% endblock %}

{% block content %}
<section class="projects-page">
    <div class="projects">
        <h1 class="project-title">PROJECTS</h1>
        <ul class="project-list">
            {% for project in projects %}
                <li class="project-item" style="background-image: url('{% if project.background_image %}{{ project.background_image.url }}{% endif %}');">
                    <h2><a href="/">{{ project.title }}</a></h2>
                    <p>{{ project.description }}</p>
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endblock %}
