<!-- blog_post_detail.html -->
{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}

{% block content %}
<section class="blog-post-detail">
    <h1>{{ project.title }}</h1>
    <div>
        {{ project_content_html|safe }}
    </div>
</section>

<!-- Load MathJax for LaTeX rendering -->
<script type="text/javascript" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
<script type="text/x-mathjax-config">
    MathJax = {
        tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']],
            displayMath: [['$$', '$$'], ['\\[', '\\]']]
        }
    };
</script>
{% endblock %}
