/* style.css */

/* Global Settings */
/* Scrollbar background */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

/* Track (background of the scrollbar) */
::-webkit-scrollbar-track {
    background: #000; /* Black background */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background-color: #333; /* Dark grey color for handle */
    border-radius: 10px; /* Rounded corners */
    border: 3px solid #000; /* Padding around the handle, blending with the track */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; /* Lighter grey on hover */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
}
body {
    background-color: rgb(0, 0, 0);
    font-family: 'Arial', sans-serif;
    color: #ffffff;  
    display: flex;
    flex-direction: column; /* Use flexbox to manage layout */
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    line-height: 1.6;
    margin: 0;
    height: 100%;
}

/* Layout */
header {
    background-color: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header.nav-hidden{
    opacity: 0;
    transition: opacity 0.5s ease;
}

header.nav-hidden.visible{
    opacity: 1;
}

header ul {
    list-style: none;
    padding: 0;
}

header ul li {
    display: inline;
    margin-right: 15px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
}

a{
    color: #fff;
    text-decoration: none;
}


main {
    display: flex;
    flex-flow: column nowrap;
    margin: auto;
    background-color: rgb(0, 0, 0);
    flex-grow: 1; 
    width: 100%; 
    overflow: auto; 
}


/* Hero Section (Home Page) */
/* Hero section */
.hero {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background-color: transparent;
}

/* Heading */
.heading {
    color: #8fa8f9;
    font-size: x-large;
    position: absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    margin-bottom: 15%;
    z-index: 1;
    width: 100%;
    transition: transform 1.5s ease, opacity 1.5s ease;
}

.heading h1{
    color: #848282;
    font-size: 50px;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 7px;
    cursor: pointer
  }
  h1 span{
    transition: .5s linear
  }
  h1:hover span:nth-child(1){
    margin-right: 5px
  }
  h1:hover span:nth-child(1):after{
    content: " 10001001";
    transition: ease;
  }
  h1:hover span:nth-child(2){
    margin-left: 20px
  }
  h1:hover span{
    color: #fff;
    text-shadow: 0 0 5px #fff,
                 0 0 10px #fff, 
                 0 0 20px #fff;
  }

/* Background scaling effect */
.background {
    overflow: hidden;
    width: 100%;
    z-index: 1;
}

.background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About Section */
.about {
    display: flex;
    flex-flow: row;

    height: 20%;
}


.my_image {
    background-color: #fff;
    width: 40%;
    max-height: 100%;
    margin: 50px;
}

.aboutMe {
    width: 50%;
}

/* Project menu */
.project-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;

    transform: translateY(50px);
    transition: opacity 1.5s ease, transform 1.5s ease;
}


/* Project grids */
.project-grids {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
}

.logo {
    display: flex;
    width: 30%;
    height: 50vh;
    margin: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    color: #333;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 2s, transform 2s;
}

/* Transition delays for logos */
.project-grids .logo:nth-child(2) {
    transition-delay: 200ms;
}

.project-grids .logo:nth-child(3) {
    transition-delay: 400ms;
}

.project-grids .logo:nth-child(4) {
    transition-delay: 600ms;
}

.project-grids .logo:nth-child(5) {
    transition-delay: 800ms;
}

/* Hidden states */
.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.project-menu.blogs{
    max-height: 30vh;
}
.project-grids.blogs {
    width: 100%;
    height: 100%;
}

/* Projects Section */
.projects ul {
    list-style: none;
}

.projects ul li {
    background-color: hsla(0, 0%, 100%, 0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.projects h1 {
    font-size: 2.2rem;
}

.projects ul li h2 {
    font-size: 2rem;
}

.projects ul li p {
    font-size: 1.1rem;
    color: #555;
}

/* Blog Section */
.blog ul {
    list-style: none;
}

.blog ul li {
    background-color: #fff;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog ul li h2 {
    font-size: 2rem;
}

.blog ul li h2 a{
    color: #333;
    text-decoration: none;
}
.blog ul li p {
    font-size: 1rem;
    color: #555;
}

/* Add this to your CSS file */
.content {
    padding: 20px;
    font-size: 1.1em;
    line-height: 1.6;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


/* Footer */
/* footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    position: absolute;
    height: 50px;
    width: 100%;
    bottom: 0;
} */
