<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}

{% block content %}
<section class="homePage">
    <div class="hero">
        <div class="heading">
            <h1>Abdullah Khalid</h1>
        </div>
    </div>
    <div class="about">
        <div class="my_image">
            
        </div>
        <div class="aboutMe">
            <h2>About me</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod voluptas quis illo fuga suscipit fugit quam, laborum magnam officia ullam exercitationem beatae, quas sapiente quo maiores corporis! Unde, eaque laborum.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est amet consectetur quod minima vero ex. Facilis, laudantium, quidem hic ducimus unde necessitatibus officia, nisi ipsam temporibus saepe voluptatum. Vel, enim.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid distinctio accusamus voluptatem voluptas libero dicta omnis quibusdam? Voluptate eos nam corrupti esse minima? Natus officia tenetur maiores recusandae atque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae repellendus officiis a amet error ut consequatur perspiciatis tempora quaerat corrupti rem corporis, iure iusto quasi, sunt culpa reiciendis? Illo.

            </p>
        </div>
    </div>
    <div class="project-menu">
        <h1>PROJECTS</h1>
        <div class="project-grids">
            <div class="logo">
                <h1>H1</h1>
            </div>
            <div class="logo">
                <h1>H1</h1>
            </div>
            <div class="logo">
                <h1>H1</h1>
            </div>
            <div class="logo">
                <h1>H1</h1>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Place the script here -->
<script src="{% static 'parallax.js' %}"></script>
