<!-- home.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% load static %}

{% block header %}
<!-- This nav has the scroll animation -->
 <header class="nav-hidden">
    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'projects' %}">Projects</a></li>
            <li><a href="{% url 'blog' %}">Blog</a></li>
        </ul>
    </nav>
 </header>
{% endblock %}

{% block content %}
<section class="homePage">
    <div class="hero">
        <div class="background">
            <a class="link-lorenz" href="https://legacy-www.math.harvard.edu/archive/118r_spring_05/handouts/lorentz.pdf" target="_blank">
                <h1></h1>
            </a>
            <video autoplay muted loop id="myVideo">
                <source src="{% static 'LorenzAttractor.mp4' %}" type="video/mp4">
            </video>
            
        </div>
        <div class="heading">
            <a href="https://en.wikipedia.org/wiki/Fine-structure_constant" target="_blank"><h1><span>ABDULLAH</span><span> KHALID</span></h1></a>
        </div>
    </div>

    <div class="project-menu">
        <h1><a href="{% url 'projects' %}">PROJECTS</a></h1>
        <div class="project-grids">
            <div class="logo hidden">
                <h1>H1</h1>
            </div>
            <div class="logo hidden">
                <h1>H1</h1>
            </div>
            <div class="logo hidden">
                <h1>H1</h1>
            </div>
            <div class="logo hidden">
                <h1>H1</h1>
            </div>
        </div>
    </div>

    <div class="project-menu blogs" id="blogg">
        <h1><a href="{% url 'blog' %}">BLOG POSTS</a></h1>
        <div class="project-grids blogs">
            {% for post in posts %}
                <div class="logo blogs hidden">
                    <a class="link-blog" href="{{ post.get_absolute_url }}">
                        <h1>{{ post.title }}</h1>
                    </a>
                </div>
            {% endfor %}
            
        </div>
    </div>

    <div class="about">
        <div class="my_image hidden">
            
        </div>
        <div class="aboutMe hidden">
            <h2>About me</h2>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod voluptas quis illo fuga suscipit fugit quam, laborum magnam officia ullam exercitationem beatae, quas sapiente quo maiores corporis! Unde, eaque laborum.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est amet consectetur quod minima vero ex. Facilis, laudantium, quidem hic ducimus unde necessitatibus officia, nisi ipsam temporibus saepe voluptatum. Vel, enim.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eius aliquid distinctio accusamus voluptatem voluptas libero dicta omnis quibusdam? Voluptate eos nam corrupti esse minima? Natus officia tenetur maiores recusandae atque.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt beatae repellendus officiis a amet error ut consequatur perspiciatis tempora quaerat corrupti rem corporis, iure iusto quasi, sunt culpa reiciendis? Illo.

            </p>
        </div>
    </div>
</section>
{% endblock %}


{% block scripts %}
<script defer src="{% static 'js/home.js' %}"></script>
{% endblock %}